# never commit secrets or deps
.env
**/.env
node_modules/
**/node_modules/
npm-debug.log*

# ignore these backend folders completely
/backend/config/
backend/config/
backend/controllers/
backend/middleware/
backend/models/
backend/routes/
backend/scripts/
backend/sockets/
